.new-note {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dcdcdc;

  &__container {
    width: 60vw;
    margin: auto;
  }

  &__button {
    margin-top: 10px;
    background-color: #605f5f;
  }

  .button {
    &-edit,
    &-add {
      display: none;
    }
  }
}
